<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>686867171752-k98lr1lud2kfsnf2d1gumgl9a9d6qb0q.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.686867171752-k98lr1lud2kfsnf2d1gumgl9a9d6qb0q</string>
    <key>API_KEY</key>
    <string>AIzaSyCfpFEgcqMb8QVyi-cmPqZt2DdhOxESTrQ</string>
    <key>GCM_SENDER_ID</key>
    <string>686867171752</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.lavia.app</string>
    <key>PROJECT_ID</key>
    <string>mental-health-coach-19f5b</string>
    <key>STORAGE_BUCKET</key>
    <string>mental-health-coach-19f5b.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:686867171752:ios:4f3fdcfd3cde3ee3dab59d</string>
</dict>
</plist>